{{#if hasContacts}}
  {{> contacts_list}}
{{else}}
  <div class='empty-contacts-placeholder bg-light container text-center'>
    <h2 class='mx-auto'>There are no contacts.</h2>
    <button
      type='button'
      class='page-switcher btn btn-lg btn-outline-primary mx-auto'
      data-page='addContactPage'
    >
      Add Contact
    </button>
  </div>
{{/if}}