  <div class='mt-4'>
    {{#if hasDisplayableContacts}}
      <div class='search-result d-flex flex-wrap justify-content-left'>
        {{#each contacts}}
          {{> contact}}
        {{/each}}
      </div>
    {{else}}
      <div class='empty-search-result container text-center bg-light mt-4'>
        <h2>There are no contacts starting with {{nameFilter}}</h2>
      </div>
    {{/if}}
  </div>