<div class='view' id='contact'>
  <h2>{{title}}</h2>
  <hr />
  <form id='contact-form' class='container'>
    <div class='row'>
      <div class='mb-3 col-md-6'>
        <label for='name' class='form-label'>Full Name</label>
        <input
          type='text'
          class='form-control'
          name='full_name'
          id='full_name'
          required
        />
      </div>
      <div class='mb-3 col-md-6'>
        <label for='email' class='form-label'>Email Address</label>
        <input
          type='email'
          class='form-control'
          name='email'
          id='email'
          required
        />
      </div>
    </div>
    <div class='row'>
      <div class='mb-3 col-md-6'>
        <label for='phone_number' class='form-label'>Telephone Number</label>
        <input
          type='tel'
          class='form-control'
          name='phone_number'
          id='phone_number'
          required
        />
      </div>
      <div class='mb-3 col-md-6'>
        <label for='tags' class='form-label'>Tags</label>
        <input
          type='text'
          class='form-control'
          name='tags'
          id='tags'
          required
        />
      </div>
    </div>

    <div class='d-flex'>
      <div class='col-6'>
        <div class='d-grid p-2'>
          <button type='submit' class='btn btn-lg btn-outline-primary'>
            Submit
          </button>
        </div>
      </div>
      <div class='col-6'>
        <div class='d-grid p-2'>
          <button
            type='button'
            class='view-switcher btn btn-lg btn-outline-primary'
            data-view='home'
          >Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>