.container {
  padding: 25px;
}

@keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.page {
  display: block;
  opacity: 1;
  animation: slidein 1s;  
}

.hidden {
  display: none;
  opacity: 0;
}

a.dropdown-item {
  cursor: pointer;
}

select {
  width: 150px;
}

.tag {
  cursor: pointer;
}

