.container {
  padding: 25px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

.view {
  opacity: 1;
  animation: fade-in 1s ease;
}

a.dropdown-item {
  cursor: pointer;
}

select {
  width: 150px;
}

.tag {
  cursor: pointer;
}